@media (min-width: 576px) {
	// CONFIGURATION SECTION
	.configuration {
		grid-template-areas:
			'title box'
			'title box'
			'title box';

		&__title {
			padding-right: 2em;
		}

		&__box {
			display: grid;
			justify-content: end;

			&-item {
				max-width: 500px;
			}

			&-img {
				max-width: 500px;
			}

			&-text {
				font-size: 1.6rem;
			}
		}

		&__bg-icon {
			display: block;
			position: absolute;
			opacity: 0.05;
		}
	}

	// NEWSLETTER
	.newsletter {
		padding: 10em 2em;

		&__icon {
			&-second {
				bottom: -40px;
				right: 23%;
				width: 175px;
			}
		}
	}

	// GALLERY
	.gallery {
		grid-template-columns: 1fr 1fr;
	}
}
