@media (min-width: 1200px) {
	// HEADER
	.header {
		.heading {
			font-size: 5.2rem;
		}

		p {
			font-size: 2.2rem;
		}
	}

	// NAV
	.nav {
		&__link {
			font-size: 2.4rem;
		}
	}

	// GALLERY
	.gallery {
		grid-template-columns: repeat(8, 1fr);
	}
}
